<div class="col-xl-{{blocks_num_xl}} col-lg-{{blocks_num_lg}} col-md-{{blocks_num_md}} col-sm-{{blocks_num_sm}} col-xs-{{blocks_num_xs}} col_product">
    <div class="product">
        <div class="product_listing_labels item-list">
            {{label}}
        </div>
        <div class="p_description">
            <a class="p_img_href {{add_classes}}" href="{{product_href}}">{{product_image}}{{product_modal_button}}</a>
            <div class="art clearfix">
                {{products_model}} {{stock}}
            </div>
            <div class="new_old_price clearfix">
                <p class="price">{{final_price}}</p>
                <span>{{cart_button}}</span>
            </div>
            <a href="{{product_href}}" class="model_product">{{product_name}}</a>
            {{product_attributes}} {{compare_output}} {{wishlist_output}}
        </div>
    </div>
</div>
