<div class="col-xl-{{blocks_num_xl}} col-lg-{{blocks_num_lg}} col-md-{{blocks_num_md}} col-sm-{{blocks_num_sm}} col-xs-{{blocks_num_xs}} col_product">
    <div class="product">
        <div class="wrapper_product_hover {{add_classes}}">
            <div class="product_hover">
                <div class="p_description">
                    <div class="mask">
                        <a class="p_img_href" href="{{product_href}}">{{product_image}}{{product_modal_button}}</a>
                    </div>
                    <div class="product_info_render">
                        <a href="{{product_href}}" class="model_product" title="{{product_name}}">
                            {{product_name}}
                        </a>
                        <div class="product_preview-info">
                            <div class="new_old_price clearfix">
                                <p class="price">
                                    {{new_price}} {{old_price}}
                                <div class="product_listing_labels item-list">
                                    {{label}}
                                </div>
                                </p>
                            </div>
                            <span class="category-text">{{category_name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
