<div class="col-lg-12 col_product">
    <div class="product_list">
        <div class="product_listing_labels item-list">
            {{label}}
        </div>
        <div class="wrapper_product_hover_list {{add_classes}}">
            <div class="product_hover_list">
                <div class="p_description_list">
                    <div class="product_image">
                        <a class="p_img_href_list" href="{{product_href}}">{{product_image}}{{product_modal_button}}</a>
                    </div>
                    <div class="body">
                        <div class="product-info">
                            <div class="art_list product_code">{{products_model}}</div>
                            <div class="product_stock clearfix">{{stock}}</div>
                            <div class="compare-wishlist pull-right">
                                {{wishlist_output}} {{compare_output}}
                            </div>
                        </div>
                        <div class="model_product-box">
                            <a href="{{product_href}}" class="model_product">{{product_name}}</a>
                        </div>
                        {{product_attributes}}
                        <div class="price">{{final_price}}</div>
                        <div class="buy-button-list"><span>{{cart_button}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
